*.[oa]
*~
*.exe
*.swp
*.m4
.deps/
m4/
autom4te.cache/
Makefile.in
config.h.in
config.log
config.status
configure
configure.scan
libtool
stamp-h1
*.suo
DVR Debug
DVR Release

.idea/
*.ilk
*.tlog
*.cache
*.tmp

*.ipch
*.sdf
*.sln
*.suo
*.VC.db
.vs/
prj_win32/ipch
prj_win32/Release
prj_win32/Debug
1.txt
2.txt
3.txt
