[user]
    name = walker.zheng
    email = walker.zheng@inforun.net
[alias]
    st = status -sb
    co = checkout
    br = branch
    mg = merge --no-ff
    ci = commit -s
    ds = diff --staged
    dt = difftool
    dc = difftool --cached
    rc = rm --cached
    mt = mergetool
    last = log -1 HEAD
    latest = for-each-ref --sort=-committerdate --format='%(committername)@%(refname:short) [%(committerdate:short)] %(contents')
    ls = log --graph --all --pretty=format:'%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]' --decorate --date=short
    hi = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    type = cat-file -t
    dump = cat-file -p
    sr = show --raw
    ss = show --stat
    b = branch -v
    r = remote -v
    t = tag -l
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
[diff]
    tool = vsdiffmerge
[difftool]
    prompt = true
[difftool "vsdiffmerge"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
[difftool "vsdiffmerge"]
    keepbackup = false
[merge]
    tool = vsdiffmerge
[mergetool]
    prompt = true
[mergetool "vsdiffmerge"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
    trustexitcode = true
[mergetool "vsdiffmerge"]
    keepbackup = false
[gc]
    auto = 256
[push]
    default = matching
[i18n]
    commitencoding = utf-8
[core]
    quotepath = false
    autocrlf = true
    filemode = false
    compression = -1
    preloadindex = true
    fscache = true
    preloadindex = true
[webui]
    autoupdate = true
[apply]
    whitespace = nowarn
[pack]
    windowMemory =64m
    packSizeLimit =64m
    threads = 8
