*.[oa]
*~
*.exe
*.swp
*.m4
.deps/
m4/
autom4te.cache/
Makefile.in
config.h
config.h.in
config.log
config.status
configure
configure.scan
libtool
stamp-h1
*.suo
DVR Debug
DVR Release


*.ilk
*.tlog
*.cache
*.tmp

*.ipch
*.sdf
*.sln
*.suo
prj_win32/ipch
prj_win32/Release
prj_win32/Debug
