[user]
	name = walker.zheng
	email = walker.zheng@inforun.net
[alias]
    st = status -sb
    co = checkout
    br = branch
    mg = merge
    ci = commit -s
    ds = diff --staged
    dt = difftool
    dc = difftool --cached
    rc = rm --cached
    mt = mergetool
    last = log -1 HEAD
    latest = for-each-ref --sort=-committerdate --format='%(committername)@%(refname:short) [%(committerdate:short)] %(contents')
    ls = log --graph --all --pretty=format:'%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]' --decorate --date=short
    hi = log --graph --all --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad' --topo-order --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    sr = show --raw
    ss = show --stat
    b = branch -v
    r = remote -v
    t = tag -l
    unstage = reset HEAD
    uncommit = reset --soft HEAD^

[diff]
        tool = vsdiffmerge
[difftool]
        prompt = true
[difftool "vsdiffmerge"]
        cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
[difftool "vsdiffmerge"]
        keepbackup = false
[merge]
        tool = vsdiffmerge
[mergetool]
        prompt = true
[mergetool "vsdiffmerge"]
        cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
            trustexitcode = true
[mergetool "vsdiffmerge"]
        keepbackup = false
#   [diff]
#       tool = vimdiff
#   [difftool]
#       prompt = false
#   [merge]
#       tool = vimdiff
#   [mergetool]
#       prompt = false
#   [core]
#       preloadindex = true
#       fscache = true
#   	quotepath = false
#       autocrlf = true
#   [color]
#       ui = true
#       diff = auto
#       status = auto
#       branch = auto
#       interactive = auto
#   [color "branch"]
#       current = yellow reverse
#       local = yellow
#       remote = green
#   [color "diff"]
#       meta = yellow bold
#       frag = magenta bold
#       old = red bold
#       new = green bold
#   [format]
#         pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
#   [http]
#       sslVerify = false
#   [push]
#       default = simple
#   [gc]
#       auto = 256
[push]
	default = matching
